*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-model{
  background-color: cadetblue;
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  padding: 30px;
  border: 5px solid black;
  margin: 50px;
}

.box-model p{
  color: brown;
}

.elemento-asimetrico{
  background-color: green;
  /* background-image: url("https://m.media-amazon.com/images/M/MV5BN2NmN2VhMTQtMDNiOS00NDlhLTliMjgtODE2ZTY0ODQyNDRhXkEyXkFqcGc@._V1_.jpg");
  background-size: 100%;
  background-repeat: no-repeat; */
  /* width: 300px; */
  width: 100vw;
  height: 500px;
  padding-top: 50px;
  /* margin-left: 50px;
  margin-top: 50px; */
  /* padding: 50px 0 0 50px; */
  text-align: center;
}