.flex-container{
  background-color: aqua;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: stretch;
}

.another-flex{
  background-color: lightcoral;
  width: 300px;
  display: flex;
}

.background{
  width: 200px;
  height: 50px;
  background-color: lightgoldenrodyellow;
}

.background:nth-child(2){
  background-color: violet;
}

.margin{
  padding: 30px;
}