:root{
  --main-text-color: green;
}

body{
  background-color: rgb(255,255,138);
}

span{
  background-color: blue;
  color: white;
}

.intervalo{
  color: blue;
}

.limite{
  background-color: coral;
  width: 50vw;
  max-width: 200px;
  min-width: 100px;
}

p{
  color: var(--main-text-color);
}

@media (min-width: 650px) and (max-width: 999px){
  .intervalo{
    color: red;
    border: 2px solid green;
  }
}

@media (min-width: 1000px){
  :root{
    --main-text-color: red;
  }
  body{
    background-color: lightgreen;
  }
  span{
    background-color: black;
  }
}