h1 {
  color: blue;
}

.toda-la-pantalla {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.409);
  z-index: 100;
}

.fondo-verde {
  position: relative;
  top: 500px;
  margin: auto;
  height: 500px;
  border-radius: 30px;
  width: 40%;
  background-color: lightgreen;
}
